html,body{
	background-color: lightgray;
	height: 99vh;
	overflow: hidden;
}

div#container {
	background-color:whitesmoke;
	height: 100%;
	margin: 8px;
}
div#editor{height:95%}
form#submitBox{
	display: grid;
	grid-template-columns: 1fr 60px 60px;
	gap: 2px;
	margin: 2px;
	padding-bottom: 5px;
}

.input-1{
	display: grid;
	grid-template-columns: 1fr 27px 27px;
	gap: 2px;
	margin: 2px;
}
/* .input-2{
	display: grid;
	grid-template-columns: 1fr 27px 27px;
	gap: 2px;
	margin: 2px;
} */


div#tagBox{
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
	gap: 5px;
	margin: 2px;
}
.tag{
	border:solid 1px black;
	user-select: none;
}

div#charBox{
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
	gap: 5px;
	margin: 2px;
}

input[name="content"]{
	font-size:large;
}

input[name="char_content"]{
	font-size:large;
	max-width: 120px;
}

input[name="add"]{
	font-size: large;
}
input[name="remove"]{
	font-size: large;
}

.large{
	font-size: large;
}
.contents_trans{
	border-left: solid 3px gray;
}

hr{
	margin: 0;
}