html,body{
	background-color: lightgray;
	height: 99vh;
	overflow: hidden;
}

div#container {
	background-color:whitesmoke;
	height: 100%;
	margin: 8px;
}

.input-1{
	display: grid;
	grid-template-columns: 1fr 27px 27px;
	gap: 2px;
	margin: 2px;
}

input[name="spell"]{
	font-size:large;
}

input[name="add"]{
	font-size: large;
}
input[name="remove"]{
	font-size: large;
}

hr{
	margin: 0;
}

.tag{
	border:solid 1px black
}