
html,body{
    background-color: lightgray;
    height: 99vh;
    overflow: hidden;
    user-select: none;
}

.container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 100%;
    gap: 8px;
    margin: 8px;
}

.word_shelf{
    border-bottom:solid 2px gray;
    border-left:solid 2px gray;
    border-right:solid 2px gray;
    padding:5px;
}

.search{
    height: 30px;
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search form{
    width:100%;
    display: grid;
    grid-template-columns: 8fr 2fr;
}
.a input{
    margin: 3px;
}

.dictionary{
    height: 94vh;
    overflow-y: scroll;
    background-color: whitesmoke;

}

.editor{
    background-color: whitesmoke;

}
