html,body{
	background-color: lightgray;
	height: 100vh;
	overflow: hidden;

}

.menu{
	background-color: white;
}

.container {
    display: grid;
	grid-template-columns: 2fr 3fr;
	height: 94%;
	gap: 10px;
}

.editor{
	background-color: whitesmoke;
}
.viewer{
	background-color: whitesmoke;
}
