html,body{
	background-color: lightgray;
	height: 99vh;
	overflow: hidden;
}

.container {
    display: grid;
	grid-template-columns: 2fr 3fr;
	height: 90%;
	gap: 8px;
	margin: 8px;
}

.viewer{
	background-color: whitesmoke;
}

.editor{
	background-color: whitesmoke;
}

.dictionary{
	height: 95vh;
	overflow-y: scroll;

}

.word{
	border: 2px;
	border-color: black;
}